body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.triage {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.triage.T1 {
    background-color: #e9322d;
}

.triage.T2 {
    background-color: #f5e810;
}

.triage.T3 {
    background-color: #62c462;
}

.container {
    width: 1280px;
}

#master {
    float: left;
    margin: 20px;
    margin-top: 80px;
    width: 760px;
}

#detail {
    float: right;
    margin: 20px;
    margin-top: 80px;
    width: 440px;
}

.ex-header {
    margin-left: 10px;
}