body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.triage {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.triage.T1 {
    background-color: #e9322d;
}

.triage.T2 {
    background-color: #f5e810;
}

.triage.T3 {
    background-color: #62c462;
}

.container {
    width: 1280px;
}

#master {
    float: left;
    margin: 20px;
    margin-top: 80px;
    width: 760px;
}

#detail {
    float: right;
    margin: 20px;
    margin-top: 80px;
    width: 440px;
}

#statusbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    width: 1260px;
    height: 40px;
    overflow: hidden;
}

.animate-alert {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    position: absolute;
    opacity: 1;
}

.animate-alert .close {
    float: right;
}

.animate-alert .msg {
    float: left;
}

.animate-alert.ng-enter
.animate-alert.ng-move,
.animate-alert.ng-leave.ng-leave-active {
    opacity:0;
}
