.margintop10 {
    margin-top: 10px;
}

.width100perc {
    width: 100%;
}

.underline:hover {
    text-decoration: underline
}
/*
.collapsable {
    overflow: hidden;
    height: 0;
    min-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 0px solid #e3e3e3;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

.collapsable.showme {
    height: 304px;
    margin-bottom: 20px;
    padding-top: 19px;
    padding-bottom: 19px;
    border: 1px solid #e3e3e3;
}*/