#transp-widget .chartpos {
	margin-left: 12%;
}

#transp-widget .chartsize {
    
    margin-top: 10px;
    margin-left: 0px;
    width: 250px;
    height: 350px;
    
/*     margin-left: 40px; */
/*     width: 400px; */
/*     height: 300px; */

}


#transp-widget .tablestyle {
/*     margin: 0px auto; */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

#transp-widget .tabledatastyle {
    width: 20%;
}