<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="img/red_cross_16.png"/>

        <link rel="stylesheet" href="bower_components/ng-table/ng-table.css">
        <link rel="stylesheet" href="bower_components/select2/select2.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="bower_components/jqplot/jquery.jqplot.css"/>
        <link rel="stylesheet" href="styles/main.css">
<!--         <link rel="stylesheet" href="styles/masterPatientDirective.css"> -->
<!--         <link rel="stylesheet" href="styles/detailPatientDirective.css"> -->
<!--         <link rel="stylesheet" href="styles/siteMapDirective.css"> -->
<!--         <link rel="stylesheet" href="styles/siteDetailsDirective.css"> -->
        <link rel="stylesheet" href="styles/careMeasuresWidgetDirective.css">
        <link rel="stylesheet" href="styles/preTriageWidgetDirective.css">
        <link rel="stylesheet" href="styles/triageWidgetDirective.css">
        <link rel="stylesheet" href="styles/transportationWidgetDirective.css">
        <link rel="stylesheet" href="styles/breadcrumbStackWidget.css">
        <link rel="stylesheet" href="styles/alertsAndRequestsWidgetDirective.css">
        <!-- endbuild -->
    </head>
    <body ng-app="eu.crismaproject.pilotE">
        <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--[if lt IE 9]>
          <script src="bower_components/es5-shim/es5-shim.js"></script>
          <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        
         <div ng-controller="eu.crismaproject.pilotE.controllers.WirecloudController">
<!--             <div class="ex-header"><h3>Exercise {{worldstate.name}}</h3></div> -->
<!--             <p>temporalcoveragefrom: {{tempcoveragefrom}}</p> -->
<!--             <p>temporalcoverageto: {{tempcoverageto}}</p> -->
<!--             <p>temporalcoverageperiod: {{tempcoverageperiod}}</p> -->
<!--             <p>patients.length: {{patients.length}}</p> -->
<!--             <p>$scope.kpi1: {{kpi1}}</p> -->
<!--             <div class="container" ng-view></div> -->

                <div class="container-fluid" ng-controller="debriefingViewController">
                    <div class="row clearfix">
                        <div class="col-md-4 column">            
                            <div id="breadcrumb-stack-comnponent">
                              <div class="panel panel-default">
                                    <div id="stacknav" class="list-group">
                                        <a class="list-group-item backwardnav">{{stackNavData[0].value}}
                                            <i class="pull-left glyphicon glyphicon-chevron-left gap backwardnav"></i>
                                        </a>
                                        <a class="list-group-item" ng-click="navigateBack()">{{stackNavData[1].value}}
                                            <i class="pull-left glyphicon glyphicon-chevron-left gap" ng-hide="! hideResponsePhasesNav"></i>
                                        </a>
                                        <a class="list-group-item" ng-hide="! hideResponsePhasesNav">
                                        {{selectedItemIndexNav1 > -1 ? listItemsData[selectedItemIndexNav1].value : ""}}
                                        </a>
                                    </div>
                                    <br>
                                    <br>
                                    
                                    <div id="main-chart" ng-hide="hideResponsePhasesNav">
                                        <div transportation-widget
                                            step-minutes="stepMinutesData"
                                            patients-data="patients"
                                            list-header={{breadcrumbKpiHeaderData}}
                                            kpi-list-data="breadcrumbKpiData">
                                        </div>
                                    </div>
<!--                                     <div id="kpi-section" ng-hide="hideResponsePhasesNav"> -->
<!--                                         <table class="tablestyle"> -->
<!--                                             <tr> -->
<!--                                                 <td colspan="2"><b>{{breadcrumbKpiHeaderData}}</b></td> -->
<!--                                             </tr> -->
<!--                                             <tr ng-repeat="obj in breadcrumbKpiData"> -->
<!--                                                 <td class="tabledatastyle">{{ obj.value }}</td> -->
<!--                                                 <td>{{ obj.key }}</td> -->
<!--                                             </tr> -->
<!--                                         </table> -->
<!--                                     </div> -->

                                    <div alerts-and-requests-widget
                                        alerts-and-requests-data="exerc"
                                        alerts-list-data="alertsData"
                                        req-vehicles-list-data="requestedVehiclesData"
                                        ng-if="selectedItemIndexNav1 == 0">
                                    </div>
                                    <div pre-triage-widget
                                        patients-data="patients"
                                        step-minutes="stepMinutesData"
                                        kpi-list-data="ptrKpiData"
                                        ng-if="selectedItemIndexNav1 == 1">
                                    </div>
                                    <div triage-widget
                                        patients-data="patients"
                                        step-minutes="stepMinutesData"
                                        kpi-list-data="trKpiData"
                                        ng-if="selectedItemIndexNav1 == 2">
                                    </div>
                                    <div transportation-widget
                                        step-minutes="stepMinutesData"
                                        patients-data="patients"
                                        list-header='General'
                                        kpi-list-data="transpKpiData"
                                        ng-if="selectedItemIndexNav1 == 3">
                                    </div>
                                    <div care-measures-widget
                                        patients-data="patients"
                                        kpi-list-data="cmKpiData"
                                        ng-if="selectedItemIndexNav1 == 4">
                                    </div>
                                    <br>
                                    <br>
                                <div class="panel panel-body">
                                    <div response-phases-nav
                                        list-header={{listHeaderData}}
                                        list-items="listItemsData">
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                        </div>
                    </div>
                </div>
        
        
        
         </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <!--script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
   
          ga('create', 'UA-XXXXX-X');
          ga('send', 'pageview');
       </script-->

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/jqplot/jquery.jqplot.js"></script>
        <script src="bower_components/angular/angular.js"></script>
<!--         <script src="bower_components/angular-ui-chart/src/chart.js"></script> -->
        <script src="lib/angular-ui-chart/new/chart.js"></script>
        <script src="lib/javascript-set/miniset.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="bower_components/angular-commons/dist/scripts/angular-commons.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/ng-table/ng-table.js"></script>
        <script src="bower_components/select2/select2.js"></script>
        <script src="bower_components/angular-ui-select2/src/select2.js"></script>
        <script src="bower_components/momentjs/moment.js"></script>
<!--         <script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script> -->
        <script src='bower_components/underscore/underscore.js'></script>
<!--         <script src='bower_components/angular-google-maps/dist/angular-google-maps.js'></script> -->
        <script src='bower_components/terraformer/terraformer.js'></script>
        <script src='bower_components/terraformer-wkt-parser/terraformer-wkt-parser.js'></script>
        <script src='bower_components/angular-strap/dist/angular-strap.js'></script>
        <script src='bower_components/angular-strap/dist/angular-strap.tpl.js'></script>
        
        <!-- new libs for jqplot -->
        <script src="bower_components/jqplot/plugins/jqplot.pieRenderer.js"></script>
        <script src="bower_components/jqplot/plugins/jqplot.donutRenderer.js"></script>
        <script src="bower_components/jqplot/plugins/jqplot.barRenderer.js"></script>
        <script src="bower_components/jqplot/plugins/jqplot.canvasTextRenderer.js"></script>
        <script src="bower_components/jqplot/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
        <script src="bower_components/jqplot/plugins/jqplot.dateAxisRenderer.js"></script>
        <script src="bower_components/jqplot/plugins/jqplot.pointLabels.min.js"></script>
        
        <script src="bower_components/jqplot/plugins/jqplot.canvasAxisTickRenderer.js"></script>
        <script src="bower_components/jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
        <script src="bower_components/jqplot/plugins/jqplot.enhancedLegendRenderer.js"></script>
        <script src="bower_components/jqplot/plugins/jqplot.cursor.min.js"></script>


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/initialiserService.js"></script>
<!--         <script src="scripts/configuration.js"></script> -->
        <script src="scripts/controllers/initialiserController.js"></script>
        <script src="scripts/controllers/wirecloudController.js"></script>
<!--         <script src="scripts/controllers/masterPatientDirectiveController.js"></script> -->
<!--         <script src="scripts/controllers/detailPatientDirectiveController.js"></script> -->
<!--         <script src="scripts/controllers/siteMapDirectiveController.js"></script> -->
<!--         <script src="scripts/controllers/siteDetailsDirectiveController.js"></script> -->
        <script src="scripts/directives/initialiserDirective.js"></script>
<!--         <script src="scripts/controllers/captureViewController.js"></script> -->
<!--         <script src="scripts/directives/masterPatientDirective.js"></script> -->
<!--         <script src="scripts/directives/detailPatientDirective.js"></script> -->
<!--         <script src="scripts/directives/siteMapDirective.js"></script> -->
<!--         <script src="scripts/directives/siteDetailsDirective.js"></script> -->
        <script src="scripts/services/ooiservice.js"></script>
        
        <script src="scripts/controllers/debriefingViewController.js"></script>
        <script src="scripts/controllers/careMeasuresWidgetDirectiveController.js"></script>
        <script src="scripts/directives/careMeasuresWidgetDirective.js"></script>
        <script src="scripts/controllers/preTriageWidgetDirectiveController.js"></script>
        <script src="scripts/directives/preTriageWidgetDirective.js"></script>
        <script src="scripts/controllers/triageWidgetDirectiveController.js"></script>
        <script src="scripts/directives/triageWidgetDirective.js"></script>
        <script src="scripts/controllers/transportationWidgetDirectiveController.js"></script>
        <script src="scripts/directives/transportationWidgetDirective.js"></script>
        <script src="scripts/controllers/alertsAndRequestsWidgetDirectiveController.js"></script>
        <script src="scripts/directives/alertsAndRequestsWidgetDirective.js"></script>        
        <script src="scripts/controllers/responsePhasesNavDirectiveController.js"></script>
        <script src="scripts/controllers/responsePhasesNav2DirectiveController.js"></script>
        <script src="scripts/directives/responsePhasesNavDirective.js"></script>
        <script src="scripts/directives/responsePhasesNav2Directive.js"></script>
        <!-- endbuild -->
        
        <script type="text/javascript" >
        
        
            angular.module('eu.crismaproject.pilotE').config(
                [
                    '$provide',
                    function ($provide) {
                        'use strict';

                        $provide.constant('DEBUG', true);
                        $provide.constant('STEP_MINUTES', '10');
                        $provide.constant('CRISMA_DOMAIN', 'CRISMA');
                        $provide.constant('CRISMA_ICMM_API', 'http://crisma.cismet.de/pilotE/icmm_api');
//                         $provide.constant('OOI_API', 'http://crisma.cismet.de/pilotE/icmm_api');
                        $provide.constant('OOI_API', 'http://crisma.cismet.de/pilotE/dev/icmm_api');

                    }
                ]
            );
    
            MashupPlatform = {
                wiring: {
                    registerCallback: function (name, func) {
                        console.log("registerCallback: [name=" + name + "]");
                        MashupPlatform[name] = func;
                    },
                    pushEvent: function (name, value) {
                        console.log("pushEvent: [name=" + name + "|value=" + value + "]");
                    }
                },
               prefs: {
                    get: function (prefId){
//                       return '5';
                      return '10';
                    }
               }
            };
            
            window.setTimeout(function() {
                console.log("push ws");
                $.getJSON('http://crisma.cismet.de/pilotE/icmm_api/CRISMA.worldstates/71?omitNullValues=true&deduplicate=true', function (data) {
                    MashupPlatform.setWorldstate(JSON.stringify(data));
                })
            }, 2000);
            
//             window.setTimeout(function() {
//                 console.log("push ws");
//                 $.getJSON('http://crisma.cismet.de/pilotE/icmm_api/CRISMA.worldstates/1?omitNullValues=true&deduplicate=true', function (data) {
//                     MashupPlatform.setWorldstate(JSON.stringify(data));
//                 })
//             }, 6000);

            
            
//            window.setTimeout(function() {
//                console.log("push ws");
//                MashupPlatform.setWorldstate('{}');
//            }, 4000);

        </script>        
        
    </body>
</html>
