<div>
    <div id="debriefing">
        <div care-measures-widget patients-data="patients" kpi-list-data="cmKpiData"></div>
        <br>
        StepMinutes:
        <input type="text" ng-model="stepMinutesData">
        <br>
        <div pre-triage-widget patients-data="patients" step-minutes="stepMinutesData" kpi-list-data="ptrKpiData"></div>
        <br>
        <div triage-widget patients-data="patients" step-minutes="stepMinutesData" kpi-list-data="trKpiData"></div>
        <br>
        <div transportation-widget step-minutes="stepMinutesData" patients-data="patients" kpi-list-data="transpKpiData"></div>
    </div>
    
    <div>
        selectedItemIndexNav1:{{selectedItemIndexNav1}}
    </div>
    <div>
        selectedItemIndexNav2:{{selectedItemIndexNav2}}
    </div>
    <div>
        Exercise {{worldstate.name}}
        patients.length: {{patients.length}}
        parent.patients.length: {{$parent.patients.length}}
    </div>
    
    
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
                <div class="row-fluid">
                    <div class="span3">
                      <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                          <li class="nav-header">Exercise Capture</li>
                          <li><a href="#">Master Data</a></li>
                          <li><a href="#">Exercise Run</a></li>
                          <li class="nav-header">Inspect</li>
                          <li><a href="#">Incidence</a></li>
                          <li><a href="#">Response</a></li>
                          <li class="nav-header">Compare</li>
                       </ul>
                      </div><!--/.well -->
                    </div><!--/span-->
                </div>
            </div>
            <div class="col-md-5 column">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product</th>
                                <th>Payment Taken</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>TB - Monthly</td>
                                <td>01/04/2012</td>
                                <td>Default</td>
                            </tr>
                            <tr class="active">
                                <td>1</td>
                                <td>TB - Monthly</td>
                                <td>01/04/2012</td>
                                <td>Approved</td>
                            </tr>
                            <tr class="success">
                                <td>2</td>
                                <td>TB - Monthly</td>
                                <td>02/04/2012</td>
                                <td>Declined</td>
                            </tr>
                            <tr class="warning">
                                <td>3</td>
                                <td>TB - Monthly</td>
                                <td>03/04/2012</td>
                                <td>Pending</td>
                            </tr>
                            <tr class="danger">
                                <td>4</td>
                                <td>TB - Monthly</td>
                                <td>04/04/2012</td>
                                <td>Call in to confirm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div class="col-md-4 column">
            
                <div id="breadcrumb-stack-comnponent">
                  <div class="panel panel-default">
                        <div id="stacknav" class="list-group">
                            <a href="/#debriefing" class="list-group-item backwardnav">{{stackNavData[0].value}}
                                <i class="pull-left glyphicon glyphicon-chevron-left gap backwardnav"></i>
                            </a>
                            <a href="/#debriefing" class="list-group-item" ng-click="navigateBack()">{{stackNavData[1].value}}
                                <i class="pull-left glyphicon glyphicon-chevron-left gap" ng-hide="! hideResponsePhasesNav"></i>
                            </a>
                            <a href="/#debriefing" class="list-group-item" ng-hide="! hideResponsePhasesNav">
                            {{selectedItemIndexNav1 > -1 ? listItemsData[selectedItemIndexNav1].value : ""}}
                            </a>
                        </div>
                        <br>
                        <br>
                        <div id="kpi-section" ng-hide="hideResponsePhasesNav">
                            <table class="tablestyle">
                                <tr>
                                    <td colspan="2"><b>{{breadcrumbKpiHeaderData}}</b></td>
                                </tr>
                                <tr ng-repeat="obj in breadcrumbKpiData">
                                    <td class="tabledatastyle">{{ obj.value }}</td>
                                    <td>{{ obj.key }}</td>
                                </tr>
                            </table>
                        </div>
                        <div pre-triage-widget
                            patients-data="patients"
                            step-minutes="stepMinutesData"
                            kpi-list-data="ptrKpiData"
                            ng-if="selectedItemIndexNav1 == 3">
                        </div>
                        <div triage-widget
                            patients-data="patients"
                            step-minutes="stepMinutesData"
                            kpi-list-data="trKpiData"
                            ng-if="selectedItemIndexNav1 == 4">
                        </div>
                        <div transportation-widget
                            step-minutes="stepMinutesData"
                            patients-data="patients"
                            kpi-list-data="transpKpiData"
                            ng-if="selectedItemIndexNav1 == 5">
                        </div>
                        <div care-measures-widget
                            patients-data="patients"
                            kpi-list-data="cmKpiData"
                            ng-if="selectedItemIndexNav1 == 6">
                        </div>
                        <br>
                        <br>
                    <div class="panel panel-body">
                        <div response-phases-nav
                            list-header={{listHeaderData}}
                            list-items="listItemsData">
                        </div>
                    </div>
                </div>
              </div>
              
            </div>
        </div>
    </div>

</div>
