<div ng-hide="!patient">
    <div class="well">
        <table>
            <thead>
                <tr>
                    <th colspan="2" class="text-left">Measures for {{patient.name}}, {{patient.forename}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="defaultinsets">
                    <td class="defaultinsets">Patient ID:</td>
                    <td class="text-right defaultinsets">{{patient.id}}</td>
                </tr>
                <tr>
                    <td class="defaultinsets">Correct Classification:</td>
                    <td class="text-right defaultinsets">
                        <span class="triage ng-class:{'T1': patient.correctTriage === 'T1', 'T2': patient.correctTriage === 'T2', 'T3': patient.correctTriage === 'T3'};">
                            {{patient.correctTriage}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="well">
        <table>
            <thead>
                <tr>
                    <th colspan="2" class="text-left">Pre-Triage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="defaultinsets">Classification:</td>
                    <td class="text-right defaultinsets">
                         <triage-select ng-show="editing" selected-triage="patient.preTriage.classification"></triage-select>
                         <span ng-show="!editing" class="triage ng-class:{'T1': patient.preTriage.classification === 'T1', 'T2': patient.preTriage.classification === 'T2', 'T3': patient.preTriage.classification === 'T3'};">{{patient.preTriage.classification}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="defaultinsets">When:</td>
                    <td class="text-right defaultinsets">
                        <timepicker ng-show="editing" ng-model="patient.preTriage.timestamp" show-meridian="false" required="false"></timepicker>
                        <span ng-show="!editing" >{{patient.preTriage.timestamp | date:'HH:mm' }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="defaultinsets">Responder ID:</td>
                    <td class="text-right defaultinsets">
                        <input ng-show="editing" ng-model="patient.preTriage.treatedBy" class="responder">
                        <span ng-show="!editing" class="responder">{{patient.preTriage.treatedBy}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="well">
        <table>
            <thead>
                <tr>
                    <th colspan="2" class="text-left">Triage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="defaultinsets">Classification:</td>
                    <td class="text-right defaultinsets">
                         <triage-select ng-show="editing" selected-triage="patient.triage.classification"></triage-select>
                         <span ng-show="!editing" class="triage ng-class:{'T1': patient.triage.classification === 'T1', 'T2': patient.triage.classification === 'T2', 'T3': patient.triage.classification === 'T3'};">{{patient.triage.classification}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="defaultinsets">When:</td>
                    <td class="text-right defaultinsets">
                        <timepicker ng-show="editing" ng-model="patient.triage.timestamp" show-meridian="false" required="false"></timepicker>
                        <span ng-show="!editing">{{patient.triage.timestamp | date:'HH:mm' }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="defaultinsets">Responder ID:</td>
                    <td class="text-right defaultinsets">
                        <input ng-show="editing" ng-model="patient.triage.treatedBy" class="responder">
                        <span ng-show="!editing" class="responder">{{patient.triage.treatedBy}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="well">
        <table>
            <thead>
                <tr>
                    <th colspan="3" class="text-left defaultinsets">Care Measures</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" class="defaultinsets">Treatment begin:</td>
                    <td class="text-right defaultinsets">
                        <timepicker ng-show="editing" ng-model="patient.treatment_timestamp" show-meridian="false" required="false"></timepicker>
                        <span ng-show="!editing">{{patient.triage.timestamp | date:'HH:mm' }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-center defaultinsets"></td>
                    <td class="text-center defaultinsets"><i>R. Id</i></td>
                    <td class="text-center defaultinsets"><i>Rating</i></td>
                </tr>
                <!-- assumes care measures available -->
                <tr data-ng-repeat="cm in patient.careMeasures | orderBy:'measure'" ng-controller="detailPatientDirectiveCareMeasureController">
                    <td class="defaultinsets">{{cm.measure}}:</td>
                    <td class="text-right defaultinsets">
                        <input ng-show="editing" ng-model="cm.treatedBy" class="responder">
                        <span ng-show="!editing" class="responder">{{cm.treatedBy}}</span>
                    </td>
                    <td class="text-right defaultinsets">
                        <select ng-show="editing" ng-model="cm.rating" class="rating">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="3">3</option>
                            <option value="6">6</option>
                        </select>
                        <span ng-show="!editing" class="rating">{{cm.rating}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>