<div id="transp-widget">
    <div align="center">
        <div 
                style="margin-top:20px; margin-left:40px; width:400px; height:300px;"
                ui-chart="chartData" chart-options="chartSettings">
        </div>
    </div>
    <br>
      <table style="margin:0px auto">
          <tr><td><b>General</b></td></tr>
          <tr ng-repeat="obj in kpiListData">
              <td width="30%">{{ obj.value }}</td>
              <td>{{ obj.key }}</td>
          </tr>
      </table>
</div>




